body {
    background-color: rgb(2, 2, 50);
    display: grid;
    place-items: center;
    height: 100vh;
}

.square {
    width: 10px;
    height: 30px;
    background-color: aquamarine;
    margin-left: 10px;
    animation: square 0.5s ease infinite alternate;
}

.loading {
    display: flex;
    align-items: center;
}

@keyframes square {
    to {
        height: 60px;

    }
}